div.containerWrapper {
    width: 438px !important;
}

div.mobileRightArea.mobilePreviewBackdrop{
    display:none !important;
}

div.mobileLeftArea.mobilePreviewBackdrop{
    display:none !important;
}
